<div class="app">
<nav>
  <ul>
  <a id="app-name"><i>myTicket</i></a>
  </ul>
  <ul>
    <a [routerLink]="['']">Strona główna</a>
    <a *ngIf="!isTicketer()" [routerLink]="['/ticket']">Bilety</a>
    <a *ngIf="isTicketer()" [routerLink]="['/check']">Kontrola biletów</a>
    <a *ngIf="getExpiration() === null" [routerLink]="['/login'] ">Zaloguj się</a>
    <a *ngIf="getExpiration() === null" [routerLink]="['/register']">Zarejestruj się</a>
    <a *ngIf="getExpiration() != null && !isTicketer()" [routerLink]="['/myTickets']">Moje konto</a>
    <a *ngIf="getExpiration() != null" (click)="logout($event)">Wyloguj się</a>
  </ul>
</nav>
<router-outlet (activate)="checkExpiration()"></router-outlet>
<footer>
  <p>&copy; Marcin Nahajowski Piotr Wojnarowski 2022</p>
</footer>
</div>
