<div class="wrapper-form">
  <form [formGroup]="form" class="register">
    <fieldset>
      <legend>Zarejestruj się</legend>
      <input name="username" formControlName="username" placeholder="Nazwa użytkownika" autofocus>
      <i class="fa fa-user"></i>
      <input name="password" formControlName="password"
             type="password" placeholder="Hasło">
      <i class="fa fa-key"></i>
    </fieldset>
    <div class="form-buttons">
      <button class="state"
              (click)="register()">Zarejestruj się</button>

    </div>

  </form>
</div>

