<div id="theme-main">
  <div id="main-image">
    <div class="mask-image"></div>
  </div>
  <div class="empty-box">
    <div class="main-greetings-text">
      <h1>Kup bilet już teraz!</h1>
      <p>
        Zakup elektronicznego biletu miejskiego nigdy nie był taki prosty! Skorzystaj z naszej aplikacji i miej
        możliwość zakupu biletu zawsze pod ręką i w ekspresowym czasie.
      </p>
    </div>
    <a
      class="ca3-scroll-down-link ca3-scroll-down-arrow"
      type="button"
      (click)="scroll('ticket-img')"
      data-ca3_iconfont="ETmodules"
      data-ca3_icon=""
    ></a>
  </div>
</div>

<app-ticket-adver></app-ticket-adver>
<app-client-reviews></app-client-reviews>
