<article>
  <div class="elem-container" *ngFor="let ticketType of ticketTypes">
    <p class="ticket-type-name"><b>{{localization.getLocalizedNameType(ticketType, true)}}</b></p>
  <div class="row">
    <div class="col-sm-4" *ngFor="let ticket of findDiscounted(findSpecificTickets(tickets, ticketType), true)">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{localization.getLocalizedNameType(ticketType, false)}}</h5>
          <p class="card-text">Typ: {{localization.getLocalizedDiscount(ticket.discounted)}}</p>
<!--          <div *ngIf="ticketType === '.SingleTicket'">-->
<!--            <div class="card-text" *ngIf="ticketType === '.SingleTicket'">Numer autobusu: </div>-->
<!--          </div>-->
          <p *ngIf="ticket.validitySeconds" class="card-text">Czas trwania: {{ localization.getLocalizedDuration(ticket.validitySeconds) }}</p>
          <p class="card-text">Cena: {{(ticket.price/100).toFixed(2)}}</p>
<!--          <a href="#" class="btn btn-primary">Go somewhere</a>-->
          <button class="btn btn-primary" (click)="checkIfLoggedIn(ticket)">Kup bilet</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4" *ngFor="let ticket of findDiscounted(findSpecificTickets(tickets, ticketType), false)">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{localization.getLocalizedNameType(ticketType, false)}}</h5>
          <p class="card-text">Typ: {{localization.getLocalizedDiscount(ticket.discounted)}}</p>
          <p *ngIf="ticket.validitySeconds" class="card-text">Czas trwania: {{ localization.getLocalizedDuration(ticket.validitySeconds) }}</p>
          <p class="card-text">Cena: {{(ticket.price/100).toFixed(2)}}</p>
          <button class="btn btn-primary" (click)="checkIfLoggedIn(ticket)">Kup bilet</button>
        </div>
      </div>
    </div>
  </div>
    <br>
    <br>
  </div>
</article>

