<div class="container">
  <div class="mgb-40 padb-30 auto-invert line-b-4 align-center">
    <h4 class="font-cond-l fg-accent lts-md mgb-10">Opinie naszych klientów</h4>
    <h1 class="font-cond-b fg-text-d lts-md fs-300 fs-300-xs no-mg">Zachęcamy do przeczytania</h1>
  </div>
  <ul class="hash-list cols-3 cols-1-xs pad-30-all align-center text-sm">
    <li>
      <img src="../../../../assets/img/man_1.jpg" class="wpx-100 img-round mgb-20">
      <p class="fs-110 font-cond-l">Ostatnio w drodze do pracy nie zdążyłem kupić biletu. Na szczęście dzięki aplikacji myTicket szybko i sprawnie kupiłem go już w autobusie.</p>
      <h5 class="font-cond mgb-5 fg-text-d fs-130">Paweł Nowak</h5>
      <small class="font-cond case-u lts-sm fs-80 fg-text-l">Programista - Wrocław</small>
    </li>
    <li>
      <img src="../../../../assets/img/woman_1.png" class="wpx-100 img-round mgb-20">
      <p class="fs-110 font-cond-l">Niedawno zaskoczyła mnie w autobusie obecność kontrolera biletów! Myślałam, że już po mnie ale przypomniałam sobie o myTicket i w kilka sekund kupiłam bilet. I już się nie bałam 😀</p>
      <h5 class="font-cond mgb-5 fg-text-d fs-130">Aleksandra Pawlak</h5>
      <small class="font-cond case-u lts-sm fs-80 fg-text-l">Ekonomistka - Nowy Sącz</small>
    </li>
    <li>
      <img src="../../../../assets/img/man_2.jpg" class="wpx-100 img-round mgb-20">
      <p class="fs-110 font-cond-l">Słyszałem od znajomych, że myTicket znacznie ułatwia kupowanie biletów. Spróbowałem i nie zawiodłem się! Teraz, nie wyobrażam sobie życia bez myTicket.</p>
      <h5 class="font-cond mgb-5 fg-text-d fs-130">Michał Gardner</h5>
      <small class="font-cond case-u lts-sm fs-80 fg-text-l">Stomatolog - Legnica</small>
    </li>
  </ul>
</div>
