<div class="wrapper-form">
  <form class="login">
    <fieldset>
      <legend>Kup bilet czasowy</legend>

      <div class="form-content">
        <label>Typ biletu: <b>{{discount}}</b></label>
        <br>
        <label>Cena: <b>{{(price.valueOf()/100).toFixed(2)}}</b></label>
        <br>
        <label>Czas trwania biletu: <b>{{(time.valueOf()/60)}} min</b></label>
        <br>
        <br>
      <i class="fa fa-user"></i>
      </div>
    </fieldset>
    <div class="form-buttons">
      <button class="state" (click)="buyTicket()">Kup bilet</button>
    </div>
  </form>
</div>
